<nz-table #basicTable
          nzShowSizeChanger
          [nzData]="tableData$.value"
          [nzFrontPagination]="false"
          [nzLoading]="is_loading$ | async"
          [nzTotal]="totalPages"
          [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex"
          (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Created at</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <ng-container *ngIf="!editCache[data.id]?.edit; else editTemplate">
      <td>{{ data.id }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.firstname }}</td>
      <td>{{ data.lastname }}</td>
      <td>{{ data.createdAt }}</td>
      <td>
        <a (click)="startEdit(data.id)">Edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
      </td>
    </ng-container>
    <ng-template #editTemplate>
      <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.id" /></td>
      <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.email" /></td>
      <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.firstname" /></td>
      <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.lastname" /></td>
      <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.createdAt" /></td>
      <td>
        <a (click)="saveEdit(data.id)" class="save">Save</a>
        <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
      </td>
    </ng-template>
  </tr>
  </tbody>
</nz-table>
