<nz-list class="my-reviews-list" nzBordered *ngIf="reviewsData$.value; else loader">
  <nz-list-item *ngFor="let review of reviewsData$.value">
    <nz-descriptions [nzTitle]=review.title nzBordered>
      <nz-descriptions-item nzTitle="Review" [nzSpan]="6">{{review.id}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Created" [nzSpan]="2">{{review.createdAt}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Updated" [nzSpan]="2">{{review.updatedAt}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Status" [nzSpan]="6">
        <nz-badge
          [nzStatus]="review.in_progress ? 'processing' : 'success'"
          [nzText]="review.in_progress ? 'In progress' : 'Completed'"
        ></nz-badge>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Feature" [nzSpan]="6">{{review.feature ? review.feature.id : 'No feature'}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Estimation" [nzSpan]="6">{{review.estimation ? review.estimation.id : 'No estimation'}}</nz-descriptions-item>
    </nz-descriptions>
  </nz-list-item>
</nz-list>
<ng-template #loader>
  <nz-spin nzSimple></nz-spin>
</ng-template>

